.header{
    color: #c75643;
}

.navs{
    color: #c75643;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.list{
    display: inline;
    float: left;
    padding: 8px;
}

